.header {
  padding: 20px;
  font-size: 40px;
  display: flex;
  justify-content: space-between; }
  .header .header-title {
    display: flex;
    align-items: center; }
    .header .header-title ion-icon {
      padding-right: 20px; }
  .header .header-date {
    font-size: 20px;
    padding-right: 20px; }
  .header .header-clock {
    color: #ffd633; }

.label-wrapper {
  display: flex; }
  .label-wrapper .label-first {
    padding-right: 10px; }
  .label-wrapper .label-second {
    color: #ffd633; }

.arrival-table {
  width: 100%;
  padding: 0 20px;
  border-collapse: collapse; }
  .arrival-table th {
    padding: 20px 0; }
  .arrival-table tbody tr {
    border-top: 1px solid #8e8e8e; }
  .arrival-table td {
    font-size: 20px; }
    .arrival-table td.time {
      display: inherit;
      font-size: 40px;
      background-color: #3f3f3f; }
    .arrival-table td.destination {
      font-size: 30px;
      color: #ffd633; }
